<h1>Stupid Coaching</h1>
<p>



</p>
<div class="question">
  <p><%= params[:question] %></p>
  <p><em> -You</em></p>
</div>
<p>



</p>
<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <p><em> -Your coach</em></p>
</div>
<p>



</p>
<p class=link><%= link_to 'Ask a new question', ask_path %></p>
