// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #c9cacb;

body {
 font-family: Arial;
 font-weight: lighter;
 font-size: 25px;
}

input {
  padding: 7px 30px;
}

.answer {
  background-color: #fffed9;
  padding: 7px 30px;
  border-left: 5px solid $gray;

}

.question {
  padding: 7px 30px;
  border-left: 5px solid $gray;
}

